broker:
  type: rabbitmq
  host: ${RABBITMQ_HOST}
  port: ${RABBITMQ_PORT}
  username: ${RABBITMQ_DEFAULT_USER}
  password: ${RABBITMQ_DEFAULT_PASS}
  vhost: ${RABBITMQ_DEFAULT_VHOST}

inputs:
  - type: smtp
    host: ${SMTP_HOST}
    port: ${SMTP_PORT}
    authentication: false
    tls: true

outputs:
  - type: webhook
    url: ${WEBHOOK_URL}
